{{> head }}
{{> navbar }}
<div class="container-fluid">
    <div class="row">
        <h1>Meliodas</h1>
    </div>
    <div class="row">
        <div class="col-8">

            <p>
                Meliodas (メリオダス, Meriodasu ?) es el líder de los Siete Pecados Capitales. Él es el protagonista
                masculino de
                la historia, su pecado es la Ira y su símbolo el Dragón, también es el propietario del Boar Hat.

                Su tesoro sagrado es la Espada Demoníaca Lostvayne y su poder inherente es Full Counter. Hace tres mil
                años,
                Meliodas fue el líder de los Diez Mandamientos, un ex miembro de Stigma, y el hijo mayor del Rey
                Demonio.
            </p>
        </div>
        <div class="col-4">
            <img src="assets/img/meliodas.jpg" class="img-thumbnail">
        </div>
    </div>
</div>
{{> footer}}